// @import "vendor/bootstrap/bootstrap.less";


body {
  font-size: 14px;
}

.reply {
  display: none;
}

.response {
  border-bottom: 2px solid;
  margin-bottom: 20px;
}


.label {
    color: black;
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 20px;
}

.editable {

    .display, input {
        padding-left: 10px;
        line-height: 30px;
        margin-top: 7px;
        font-size: 15px;
        margin-bottom: 7px;
    }
    .display {
        display: inline-block;
        font-size: 17px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

.extra-action {
    visibility: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project:hover {
    .extra-action {
        visibility: visible;
    }
}

