<div class="editable">
    <p class="label">{{name}}:</p>
    <input type="text" class="hide" name="{{name}}" placeholder="{{name}}..." value="{{value}}">
    <h4 class="display">{{value}}</h4>
</div>