<div class="col-xs-1">
    <h3>Credential</h3>
    <button class="btn btn-success hide save">Save</button>
</div>

<div class="col-xs-5">
    {{ editable 'username'  username }}
    {{ editable 'password'  password }}
    {{ editable 'host'  host }}
    {{ editable 'port'  port }}
</div>

<div class="col-xs-1">
{{#if notNew}}
    <button class="extra-action btn btn-danger delete">Delete</button>
    <button class="extra-action btn btn-info edit">Edit</button>
{{/if}}
</div>
