<div class="col-xs-1">
    <h3>Project</h3>
    <button class="btn btn-success hide save">Save</button>
</div>
<div class="col-xs-6">
    {{editable 'name' name}}
    {{editable 'description' description}}
</div>