<div class="project row">
    <form class="row"></form>

    {{#if notNew}}
        <button class="extra-action btn btn-danger delete">Delete</button>
        <button class="extra-action btn btn-info edit">Edit</button>
        <button class="extra-action btn btn-success add-credential">Add Credential</button>
    {{/if}}

    <div class="row">
        <div class="col-xs-offset-2 col-xs-10">
            <h2>Credentials:</h2>
            <div class="credentials row"></div>
        </div>
    </div>
</div>